<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="navitagorDiv">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <img style="margin-left:10px;margin-right:0px" class="pull-left" src="" height="45px">
        <a class="navbar-brand" href="#nowhere">后台</a>
        <a class="navbar-brand" href="listCategory">分类管理</a>
        <a class="navbar-brand" href="listUser">用户管理</a>
        <a class="navbar-brand" href="listOrder">订单管理</a>
        <a class="navbar-brand" href="listSell">销售统计</a>

    </nav>
</div>
<div th:include="include/admin/search.html"></div>
</html>