<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="navitagorDiv">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <img style="margin-left:10px;margin-right:0px" class="pull-left" src="" height="45px">
        <a class="navbar-brand" href="#nowhere">admin</a>
        <a class="navbar-brand" href="listCategory">category manage</a>
        <a class="navbar-brand" href="listUser">user manage</a>
        <a class="navbar-brand" href="listOrder">order manage</a>
        <a class="navbar-brand" href="listSell">sell statistics</a>

    </nav>
</div>
<div th:include="include/admin/search.html"></div>
</html>