<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="panel panel-warning addDiv" >

    <form action="searchProduct" method="post">
        <table class="addTable">
            <tr>
                <td>search</td>
                <td><input type="text" placeholder="" class="form-control" name="keyword"></td>
                <td><button class="btn btn-success" type="submit">搜索</button></td>
            </tr>
        </table>
    </form>
    <div style="clear:both"></div>
</div>