<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:include="include/admin/adminHeader.html"></div>
<div th:include="include/admin/adminNavigator.html"></div>


<head>
    <meta charset="UTF-8">
    <title>editCategory</title>
</head>


<script>
    $(function () {

        $("#editForm").submit(function () {
            if (!checkEmpty("name", "分类名称"))
                return false;

            return true;
        });
    });

</script>

<div class="workingArea">

    <ol class="breadcrumb">
        <li><a href="listCategory">Category</a></li>
        <li class="active">edit Category</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">edit Category</div>
        <div class="panel-body">
            <form method="post" id="editForm" action="updateCategory" enctype="multipart/form-data">
                <table class="editTable">
                    <tr>
                        <td>category name</td>
                        <td><input id="name" name="name"th:placeholder="${category.name}"  th:value="${category.name}" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>category photo</td>
                        <td>
                            <input id="categoryPic" accept="image/*" type="file" name="file"/>
                        </td>
                    </tr>
                    <tr class="submitTR">
                        <td colspan="2" align="center">
                            <input type="hidden" name="cid" th:value="${category.id}">
                            <button type="submit" class="btn btn-success">submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<body>

</body>
</html>