<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div th:include="include/admin/adminHeader.html"></div>
<div th:include="include/admin/adminNavigator.html"></div>
<body>
<div class="workingArea">
    <ol class="breadcrumb">
        <li><a href="listCategory">Category</a></li>
        <li><a th:href="@{listProperty(cid = ${category.id})}" th:text="${category.name}">back</a></li>
        <li class="active">edit Property</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">edit property</div>
        <div class="panel-body">
            <form method="post" id="editForm" action="updateProperty">
                <table class="editTable">
                    <tr>
                        <td>property name</td>
                        <td><input id="name" name="name" th:value="${p.name}"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr class="submitTR">
                        <td colspan="2" align="center">
                            <input type="hidden" name="id" th:value="${p.id}">
                            <input type="hidden" name="cid" th:value="${cid}">
                            <button type="submit" class="btn btn-success">submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>