<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>listCategory</title>
</head>


<div th:include="include/admin/adminHeader.html"></div>
<div th:include="include/admin/adminNavigator.html"></div>

<script>
    $(function () {

        $("#addForm").submit(function () {
            if (!checkEmpty("name", "分类名称"))
                return false;
            if (!checkEmpty("categoryPic", "分类图片"))
                return false;
            return true;
        });
    });

</script>

<title>listCategory</title>

<div class="workingArea">
    <h1 class="label label-info">Category</h1>
    <br>
    <br>

    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>photo</th>
                <th>category name</th>
                <th>manage property</th>
                <th>manage product</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="category:${pageInfo.list}">
                    <td><img height="40px" th:src="@{img/category/{filename}.jpg(filename=${category.id})}"></td>
                    <td th:text="${category.name}">${category.name}</td>

                    <td><a th:href="@{listProperty(cid = ${category.id})}"><span
                            class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                    <td><a th:href="@{listProduct?cid={cid}(cid = ${category.id})}"><span
                            class="glyphicon glyphicon-shopping-cart"></span></a></td>
                    <td><a th:href="@{editCategory?cid={cid}(cid = ${category.id})}"><span
                            class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a deleteLink="true" th:href="@{deleteCategory?cid={cid}(cid = ${category.id})}"><span
                            class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pageDiv">
        <div th:include="include/admin/adminPage.html"></div>
    </div>

    <div class="panel panel-warning addDiv">
        <div class="panel-heading">add category</div>
        <div class="panel-body">
            <form method="post" id="addForm" action="insertCategory" enctype="multipart/form-data">
                <table class="addTable">
                    <tr>
                        <td>category name</td>
                        <td><input id="name" name="name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>category photo</td>
                        <td>
                            <input id="categoryPic" accept="image/*" type="file" name="file"/>
                        </td>
                    </tr>
                    <tr class="submitTR">
                        <td colspan="2" align="center">
                            <button type="submit" class="btn btn-success">submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>

<div th:include="include/admin/adminFooter.html"></div>
<body>

</body>
</html>