<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="include/admin/adminHeader.html"></div>
    <div th:include="include/admin/adminNavigator.html"></div>

    <script>
        $(function () {
            $("#addForm").submit(function () {
                if (!checkEmpty("name", "产品名称"))
                    return false;
//          if (!checkEmpty("subTitle", "小标题"))
//              return false;
                if (!checkNumber("originalPrice", "原价格"))
                    return false;
                if (!checkNumber("promotePrice", "优惠价格"))
                    return false;
                if (!checkInt("stock", "库存"))
                    return false;
                return true;
            });
        });
    </script>

    <title>product</title>
</head>
<body>

<div class="workingArea">

    <ol class="breadcrumb">
        <li><a href="listCategory">Category</a></li>
        <li><a th:href="@{listProduct(cid = ${category.id})}" th:text="${category.name}">${category.name}</a></li>
        <li class="active">Product</li>
    </ol>

    <div class="listDataTableDiv">
        <table
                class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>photo</th>
                <th>name</th>
                <th>subTitle</th>
                <th width="53px">originalPrice</th>
                <th width="80px">promotePrice</th>
                <th width="80px">stock</th>
                <th width="80px">manage photo</th>
                <th width="80px">set property</th>
                <th width="42px">edit</th>
                <th width="42px">delete</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="p:${pageInfo.list}">
                <td th:if="${p.firstProductImage != null}">
                    <a th:href="@{product(pid = ${p.id})}">
                        <img width="40px" th:src="@{img/productSingle/{filename}.jpg(filename=${p.firstProductImage.id})}">
                    </a>
                </td>
                <td th:text="${p.name}">${p.name}</td>
                <td th:text="${p.subTitle}">${p.subTitle}</td>
                <td th:text="${p.originalPrice}">${p.originalPrice}</td>
                <td th:text="${p.promotePrice}">${p.promotePrice}</td>
                <td th:text="${p.stock}">${p.stock}</td>
                <td><a th:href="@{listProductImage(pid = ${p.id})}"><span
                        class="glyphicon glyphicon-picture"></span></a></td>
                <td><a th:href="@{editProductPropertyValue(pid = ${p.id})}"><span
                        class="glyphicon glyphicon-th-list"></span></a></td>

                <td><a th:href="@{editProduct(pid = ${p.id})}"><span
                        class="glyphicon glyphicon-edit"></span></a></td>
                <td><a deleteLink="true" th:href="@{deleteProduct(pid = ${p.id})}"><span
                        class="     glyphicon glyphicon-trash"></span></a></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="pageDiv" th:include="include/admin/adminPage.html">
    </div>


</div>
<div th:include="include/admin/adminFooter.html"></div>
</body>

</html>