<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="buyPageDiv">
    <form action="createOrder" method="post">

        <div class="buyFlow">
            <img class="pull-left" src="img/site/titleLogo.png">
            <img class="pull-right" src="img/site/buyflow.png">
            <div style="clear:both"></div>
        </div>
        <div class="address">
            <div class="addressTip">reveive address</div>
            <div>

                <table class="addressTable">
                    <tr>
                        <td class="firstColumn">detail address<span class="redStar">*</span></td>

                        <td><input name="address" th:value ="${session.user.address}"  th:placeholder="${session.user.address}"></input></td>
                    </tr>

                    <tr>
                        <td>receiver<span class="redStar">*</span></td>
                        <td><input name="receiver" th:value ="${session.user.receiver}" th:placeholder="${session.user.receiver}" type="text"></td>
                    </tr>
                    <tr>
                        <td>phone number <span class="redStar">*</span></td>
                        <td><input name="mobile" th:value ="${session.user.mobile}" th:placeholder="${session.user.mobile}" type="text"></td>
                    </tr>
                </table>

            </div>

        </div>
        <div class="productList">
            <div class="productListTip">confirm order information</div>

            <table class="productListTable">
                <thead>
                <tr>
                    <th colspan="2" class="productListTableFirstColumn">
                        <!--
                        <img class="tmallbuy" src="img/site/tmallbuy.png">
                        -->
                        <a class="marketLink" href="#nowhere">mall</a>
                        <a class="wangwanglink" href="#nowhere"> <span class="wangwangGif"></span> </a>
                    </th>
                    <th>unit price</th>
                    <th>number</th>
                    <th>total</th>
                    <th>distribution mode</th>
                </tr>
                <tr class="rowborder">
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="productListTableTbody">
                    <tr th:each="oi,st:${session.orderItems}"
                            class="orderItemTR">
                        <td class="orderItemFirstTD"><img class="orderItemImg"
                                                          th:src="@{img/productSingle_middle/{filename}.jpg(filename=${oi.product.firstProductImage.id})}">
                        </td>
                        <td class="orderItemProductInfo">
                            <a th:href="@{product(pid=${oi.product.id})}" class="orderItemProductLink" th:text=" ${oi.product.name}">
                                ${oi.product.name}
                            </a>

                            <img src="img/site/creditcard.png" title="pay by credit card">
                            <img src="img/site/7day.png" title="return in 7 days">
                            <img src="img/site/promise.png" title="service ensure">

                        </td>
                        <td>

                            <span class="orderItemProductPrice" th:value="${oi.product.promotePrice}"
                                  th:text="${oi.product.promotePrice}">￥</span>
                        </td>
                        <td>
                            <span class="orderItemProductNumber" th:text="${oi.number}">${oi.number}</span>
                        </td>
                        <td><span class="orderItemUnitSum" th:value="${oi.number*oi.product.promotePrice}"
                                  th:text="${oi.number*oi.product.promotePrice}">￥
                        </span></td>
                            <td th:if="${st.count==1}"
                                    rowspan="5" class="orderItemLastTD">
                                <label class="orderItemDeliveryLabel">
                                    <input type="radio" value="" checked="checked">
                                    normal distribution
                                </label>

                                <select class="orderItemDeliverySelect">
                                    <option>delivery</option>
                                </select>

                            </td>

                    </tr>

                </tbody>

            </table>
            <div class="orderItemSumDiv">
                <div class="pull-left">
                    <span class="leaveMessageText">leave a message: </span>
                    <span>
                    <img class="leaveMessageImg" src="img/site/leaveMessage.png">
                </span>
                    <span class="leaveMessageTextareaSpan">
                    <textarea name="userMessage" class="leaveMessageTextarea"></textarea>
                    <div>
                        <span></span>
                    </div>
                </span>
                </div>

                <span class="pull-right" th:value="${total}" th:text="${total}">店铺合计(含运费): ￥</span>
            </div>

        </div>

        <div class="orderItemTotalSumDiv">
            <div class="pull-right">
                <span>money:</span>
                <span class="orderItemTotalSumSpan" th:value="${total}" th:text="${total}">

                </span>
            </div>
        </div>

        <div class="submitOrderDiv">
            <button type="submit" class="submitOrderButton">submir order</button>
        </div>
    </form>
</div>