<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="confirmPayPageDiv">
    <div class="confirmPayImageDiv">
        <img src="img/site/comformPayFlow.png">
        <div  class="confirmPayTime1">
            <fmt:formatDate value="${o.createDate}" pattern="yyyy-MM-dd HH:mm:ss"/>
        </div>
        <div  class="confirmPayTime2">
            <fmt:formatDate value="${o.payDate}" pattern="yyyy-MM-dd HH:mm:ss"/>
        </div>
        <div class="confirmPayTime3">
            yyyy-MM-dd HH:mm:ss
        </div>


    </div>
    <div class="confirmPayOrderInfoDiv">
        <div class="confirmPayOrderInfoText">我已收到货，同意支付宝付款</div>
    </div>
    <div class="confirmPayOrderItemDiv">
        <div class="confirmPayOrderItemText">订单信息</div>
        <table class="confirmPayOrderItemTable">
            <thead>
            <th colspan="2">宝贝</th>
            <th width="120px">单价</th>
            <th width="120px">数量</th>
            <th width="120px">商品总价 </th>
            <th width="120px">运费</th>
            </thead>
                <tr th:each="oi:${o.orderItems}">
                    <td><img width="50px" th:src="@{img/productSingle_middle/{filename}.jpg(filename = ${oi.product.firstProductImage.id})}"></td>
                    <td class="confirmPayOrderItemProductLink">
                        <a href="#nowhere" th:text=" ${oi.product.name}">${oi.product.name}</a>
                    </td>
                    <td th:value="${oi.product.originalPrice}" th:text="${oi.product.originalPrice}">￥</td>
                    <td>1</td>
                    <td><span class="conformPayProductPrice" th:value="${oi.product.promotePrice}" th:text="${oi.product.promotePrice}">￥
                    </span>
                    </td>
                    <td><span>快递 ： 0.00 </span></td>
                </tr>
        </table>

        <div class="confirmPayOrderItemText pull-right">
            实付款： <span class="confirmPayOrderItemSumPrice" th:value="${o.total}" th:text="${o.total}">￥</span>
        </div>


    </div>
    <div class="confirmPayOrderDetailDiv">

        <table class="confirmPayOrderDetailTable">
            <tr>
                <td>订单编号：</td>
                <td th:text="${o.orderCode}">${o.orderCode} <img width="23px" src="img/site/confirmOrderTmall.png"></td>
            </tr>
            <tr>
                <td>卖家昵称：</td>
                <td>天猫商铺 <span class="confirmPayOrderDetailWangWangGif"></span></td>
            </tr>
            <tr>
                <td>收货信息： </td>
                <td th:text="${o.address}+','+${o.receiver}+','+ ${o.mobile}">${o.address}，${o.receiver}， ${o.mobile} </td>
            </tr>
            <tr>
                <td>成交时间：</td>
                <td th:value="${o.createDate}" th:text="${o.createDate}"></td>
            </tr>
        </table>

    </div>
    <div class="confirmPayButtonDiv">
        <div class="confirmPayWarning">请收到货后，再确认收货！否则您可能钱货两空！</div>
        <a th:href="@{orderConfirmed(oid=${o.id})}"><button class="confirmPayButton">确认支付</button></a>
    </div>
</div>