<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="confirmPayPageDiv">
    <div class="confirmPayImageDiv">
        <img src="img/site/comformPayFlow.png">
        <div  class="confirmPayTime1">
            <fmt:formatDate value="${o.createDate}" pattern="yyyy-MM-dd HH:mm:ss"/>
        </div>
        <div  class="confirmPayTime2">
            <fmt:formatDate value="${o.payDate}" pattern="yyyy-MM-dd HH:mm:ss"/>
        </div>
        <div class="confirmPayTime3">
            yyyy-MM-dd HH:mm:ss
        </div>


    </div>
    <div class="confirmPayOrderInfoDiv">
        <div class="confirmPayOrderInfoText">already receive</div>
    </div>
    <div class="confirmPayOrderItemDiv">
        <div class="confirmPayOrderItemText">order information</div>
        <table class="confirmPayOrderItemTable">
            <thead>
            <th colspan="2">product</th>
            <th width="120px">unit price</th>
            <th width="120px">number</th>
            <th width="120px">total money</th>
            <th width="120px">freight price</th>
            </thead>
                <tr th:each="oi:${o.orderItems}">
                    <td><img width="50px" th:src="@{img/productSingle_middle/{filename}.jpg(filename = ${oi.product.firstProductImage.id})}"></td>
                    <td class="confirmPayOrderItemProductLink">
                        <a href="#nowhere" th:text=" ${oi.product.name}">${oi.product.name}</a>
                    </td>
                    <td th:value="${oi.product.originalPrice}" th:text="${oi.product.originalPrice}">￥</td>
                    <td>1</td>
                    <td><span class="conformPayProductPrice" th:value="${oi.product.promotePrice}" th:text="${oi.product.promotePrice}">￥
                    </span>
                    </td>
                    <td><span>freight price: 0.00 </span></td>
                </tr>
        </table>

        <div class="confirmPayOrderItemText pull-right">
            实付款： <span class="confirmPayOrderItemSumPrice" th:value="${o.total}" th:text="${o.total}">￥</span>
        </div>


    </div>
    <div class="confirmPayOrderDetailDiv">

        <table class="confirmPayOrderDetailTable">
            <tr>
                <td>order code:</td>
                <td th:text="${o.orderCode}">${o.orderCode} <img width="23px" src="img/site/confirmOrderTmall.png"></td>
            </tr>
            <tr>
                <td>name:</td>
                <td>mall <span class="confirmPayOrderDetailWangWangGif"></span></td>
            </tr>
            <tr>
                <td>receive information： </td>
                <td th:text="${o.address}+','+${o.receiver}+','+ ${o.mobile}">${o.address}，${o.receiver}， ${o.mobile} </td>
            </tr>
            <tr>
                <td>deal time:</td>
                <td th:value="${o.createDate}" th:text="${o.createDate}"></td>
            </tr>
        </table>

    </div>
    <div class="confirmPayButtonDiv">
        <div class="confirmPayWarning">please confirm receive</div>
        <a th:href="@{orderConfirmed(oid=${o.id})}"><button class="confirmPayButton">confrim pay</button></a>
    </div>
</div>