<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="payedDiv">
    <div class="payedTextDiv">
        <img src="img/site/paySuccess.png">
        <span>pay successfully</span>

    </div>
    <div class="payedAddressInfo">
        <ul>
            <li th:text="'address:' +${o.address}+' '+ ${o.receiver} +' '+${o.mobile }">${o.address} ${o.receiver} ${o.mobile }</li>
            <li>pay money: <span class="payedInfoPrice"
                          th:value="${param.total}" th:text="${param.total}"></span>
            ￥
            </li>
        </ul>

        <div class="paedCheckLinkDiv">
            you can
            <a class="payedCheckLink" href="bought">check product</a>
            <a class="payedCheckLink" href="bought">check order</a>
        </div>

    </div>

    <div class="payedSeperateLine">
    </div>

    <div class="warningDiv">
        <img src="img/site/warning.png">
        <b>remind: </b><span class="redColor boldWord">please check you order information</span>
    </div>

</div>