<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="productDetailDiv">
    <div class="productDetailTopPart">
        <a href="#nowhere" class="productDetailTopPartSelectedLink selected">product detail</a>
        <a href="#nowhere" class="productDetailTopReviewLink">review<span
                class="productDetailTopReviewLinkNumber" th:text="${p.reviewCount}">${p.reviewCount}</span> </a>
    </div>

    <div class="productParamterPart">
        <div class="productParamter">product parameter:</div>

        <div class="productParamterList">
                <span th:each="pv:${pvs}" th:text="${pv.property.name}+' : '+${ pv.value}"> </span>
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="productDetailImagesPart">
            <img th:each="pi:${p.productDetailImages}"
                 th:src="@{img/productDetail/{name}.jpg(name = ${pi.id})}">
    </div>
</div>