<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:include="include/modal.html" ></div>

<div id="footer" class="footer" style="display: block;">

    <div id="footer_desc" class="footer_desc">
        <div class="descColumn">
            <span class="descColumnTitle">guideline</span>
            <a href="#nowhere">register</a>
            <a href="#nowhere">how to pay</a>
            <a href="#nowhere">recharge</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">ensure</span>
            <a href="#nowhere">business ensure</a>
            <a href="#nowhere">sales rule</a>
            <a href="#nowhere">shortage claim</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">service</span>
            <a href="#nowhere">regulation</a>
        </div>

    </div>

    <div style="clear:both"></div>

    <img id="cateye" class="cateye" src="img/site/cateye.png">

    <div id="copyright" class="copyright">
        <div class="white_link">
            <a href="#nowhere">about us</a>
            <a href="#nowhere">helping</a>
            <a href="#nowhere">platform</a>
            <a href="#nowhere">contact us</a>
            <a href="#nowhere">cooperation</a>
        </div>

    </div>
</div>
</body>
</html>