<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script>
    $(function () {
        $("#bought").click(function () {
            var page = "checkLogin";
            $.get(
                page,
                function (result) {
                    if ("success" == result) {
                        location.href = $("#bought").attr("href");
                    }
                    else {
                        $("#loginModal").modal('show');
                    }
                }
            );
            return false;
        });
        $("#cart").click(function () {
            var page = "checkLogin";
            $.get(
                page,
                function (result) {
                    if ("success" == result) {
                        location.href = $("#cart").attr("href");
                    }
                    else {
                        $("#loginModal").modal('show');
                    }
                }
            );
            return false;
        });
        $("button.loginSubmitButton").click(function () {
            var name = $("#name").val();
            var password = $("#password").val();

            if (0 == name.length || 0 == password.length) {
                $("span.errorMessage").html("请输入账号密码");
                $("div.loginErrorMessageDiv").show();
                return false;
            }

            var page = "loginAjax";
            $.get(
                page,
                {"name": name, "password": password},
                function (result) {
                    if ("success" == result) {
                        location.reload();
                    }
                    else {
                        $("span.errorMessage").html("账号密码错误");
                        $("div.loginErrorMessageDiv").show();
                    }
                }
            );

            return true;
        });
    });
</script>
<nav class="top ">
    <a href="home">
        <span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-home redColor"></span>
        home page
    </a>

    <span>welcome to mall</span>

    <span th:if="${session.user!=null}">
        <a href="" th:text="${session.user.name}">${user.name}</a>
        <a href="logout">logout</a>
        <a href="userInformation">information</a>
    </span>

    <span th:if="${session.user==null}">
        <a href="userLogin">login</a>
        <a href="userRegister">register</a>
    </span>

    <span class="pull-right">
            <a id = "bought" href="bought">my order</a>
            <a id = "cart" href="cart">
            <span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-shopping-cart redColor"></span>
            shopping cart<strong th:text="${cartTotalItemNumber}"></strong></a>
        </span>

</nav>