<!DOCTYPE html>
<html lang="en" isELIgnored="false" pageEncoding="UTF-8"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script>
    $(function(){

        var msg_null =/*[[${msg!=null}]]*/'llll';
        if(msg_null) {
            $("span.errorMessage").html("${msg}");
            $("div.loginErrorMessageDiv").show();
        }

        $(".registerForm").submit(function(){
            if(0==$("#receiver").val().length  ){
                $("span.errorMessage").html("请输入收件人");
                $("div.registerErrorMessageDiv").css("visibility","visible");
                return false;
            }
            if(0==$("#mobile").val().length){
                $("span.errorMessage").html("请输入手机号码");
                $("div.registerErrorMessageDiv").css("visibility","visible");
                return false;
            }
            if(0==$("#address").val().length){
                $("span.errorMessage").html("请输入收货地址");
                $("div.registerErrorMessageDiv").css("visibility","visible");
                return false;
            }
            if(0==$("#password").val().length){
                $("span.errorMessage").html("请输入密码");
                $("div.registerErrorMessageDiv").css("visibility","visible");
                return false;
            }

            if($("#password").val() !=$("#repeatpassword").val()){
                $("span.errorMessage").html("密码不一致");
                $("div.registerErrorMessageDiv").css("visibility","visible");
                return false;
            }

            return true;
        });
    })
</script>



<form method="post" action="modify" class="registerForm">


    <div class="registerDiv">
        <div class="registerErrorMessageDiv">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span class="errorMessage"></span>
            </div>
        </div>


        <table class="registerTable" align="center">
            <tr>
                <td  class="registerTip registerTableLeftTD">set information</td>
                <td></td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">receiver</td>
                <td  class="registerTableRightTD"><input id="receiver"
                      name="receiver" type = "text" th:value = "${session.user.receiver}" th:placeholder="${session.user.receiver}" > </td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">phone number</td>
                <td class="registerTableRightTD">
                    <input id="mobile" name="mobile"
                           type = "text" th:value = "${session.user.mobile}"  th:placeholder="${session.user.mobile}" > </td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">address</td>
                <td class="registerTableRightTD">
                    <input id="address" name ="address"  type = "text"
                           th:value = "${session.user.address}" th:placeholder="${session.user.address}" > </td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">password</td>
                <td class="registerTableRightTD">
                    <input id="password" name ="password"  type = "password" th:value = "${session.user.password}" th:placeholder="${session.user.password}" > </td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">confirm password</td>
                <td class="registerTableRightTD"><input id="repeatpassword" type="password" th:value = "${session.user.password}"   placeholder="请再次输入你的密码" > </td>
            </tr>

            <tr>
                <td colspan="2" class="registerButtonTD">
                    <a href="modifySuccess"><button>submit</button></a>
                </td>
            </tr>
        </table>
    </div>
</form>